/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding-left: 200px;
    padding-top: 100px;
}

.wrapper {
    margin-bottom: 100px;
}
.tooltip {
    display: inline-block;
    max-width: 250px;
    position: relative;
    background-color: orange;
}

.tooltip p {
    display: inline-block;
}

.tooltip-data {
    min-width: 150px;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    color: white;
    position: absolute;
/*    visibility: hidden;  */
}

.right {
    left: calc(100% + 20px);
    top: 50%;
    transform: translateY(-50%);
}

.right::before {
    content: " ";
    display: inline-block;
    border: solid 5px black;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    box-sizing: border-box;

}

.left {
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 10px);
}

.left::before {
    content: " ";
    display: inline-block;
    border: solid 5px black;
    position: absolute;
    top: 50%;
    left: calc(100% - 5px);
    transform: translateY(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    box-sizing: border-box;

}

.top {
    bottom: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);


}

.top::before {
    content: " ";
    display: inline-block;
    border: solid 5px black;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    box-sizing: border-box;

}

.bottom {
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
}

.bottom::before {
    content: " ";
    display: inline-block;
    border: solid 5px black;
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    box-sizing: border-box;

}